<div class="splash-background">
  <%= image_tag('destiny-2-banner.jpg', class: 'splash-image') %>
  <h1>Raid-along</h1>
  <div class="continue-button">
    <%= link_to 'Continue', groups_path, class: 'ui violet button' %>
  </div>
</div>