<div class="ui grid container">
  <div class="eight wide column">
    <h1>Groups</h1>
    <div class="groups">
      <% @groups.each do |group| %>
        <div class="group-card">
          <p><%= group.name %> |  # of Players: <%= group.users.count %></p>
          <%=link_to 'Join', group_path(group), class: 'ui violet button' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="eight wide column">
    <%= render 'create' %>
  </div>
</div>

