<div class="ui grid container">
  <div class="eight wide column">
    <h1>Groups</h1>

    <ul>
      <% @groups.each do |group| %>
        <li><%=link_to group.name, group_path(group) %> | # of Players: <%= group.users.count %></li>
      <% end %>
    </ul>
  </div>
  <div class="eight wide column">
    <%= render 'create' %>
  </div>
</div>

