 $roboto: 'https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet';

 .raids {
   background-color: purple;
   color: gold;
   text-align: center;
   padding: 25px;
   margin-bottom: 10px;
 }
 
 .raid_name {
   font-size: 2em;
   line-height: 70%;
 }
 
 .raid_location {
   font-size: 1.5em;
 }
 
.banner {
  background-color: purple;
  color: gold;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 10px;
  padding: 25px 0px;
}

.banner h1 {
  font-family: $roboto, serif;
  font-size: 3rem;
}

.encounters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.encounter-block {
  padding: 10px 25px;
  background-color: pink;
  text-align: center;
}

.current_encounter_info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.current_encounter_symbols {
  display: flex;
  justify-content: space-between;
}

.map_strategy {
  display: flex;
  flex-direction: row;
}

.current_encounter_map {
  width: 600px;
  height: 450px;
  background-color: grey;
  margin-right: 10px;
}

.raid_symbols {
  padding: 10px;
  text-align: center;
}

#messages {
  border: 1px lightgrey solid;
  height: 300px;
  width: 400px;
  overflow-y:scroll;
  margin-bottom: 5px;
}

.single_message {
  border-bottom: lightgrey 1px solid;
  margin: 5px auto;
  width: 95%;
}

.message_right {
  background-color: steelblue;
  color: white;
  border-radius: 5px;
  border-bottom-right-radius:  0px;
}

.message_content {
  margin-left: 5px;
}

.message_user {
  text-align: right;
  margin-right: 5px;
  position: relative;
  bottom: 5px;
  right: 5px;
  color: white;
}

.field textarea {
  width: 400px !important;
  height: 75px !important;
}