 $roboto: 'https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet';

.banner {
  background-color: purple;
  color: gold;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 10px;
  padding: 50px 0px;
}

.banner h1 {
  font-family: $roboto, serif;
}

.encounters {
  display: flex;
  justify-content: space-around;
}

.encounter-block {
  padding: 10px 25px;
  background-color: pink;
  text-align: center;
}

.current_encounter_info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.current_encounter_symbols {
  display: flex;
  justify-content: space-between;
}

.raid_symbols {
  padding: 10px;
  text-align: center;
}

#messages {
  border: 1px lightgrey solid;
  height: 200px;
  width: 400px;
  overflow-y:scroll;
  margin-bottom: 5px;
}

.field textarea {
  width: 400px !important;
  height: 100px !important;
}